
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_2.jpeg);">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">About Us</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 py-3 wow zoomIn">
                <div class="card-service">
                    <div class="circle-shape bg-secondary text-white">
                        <span class="mai-chatbubbles-outline"></span>
                    </div>
                    <p><span>Chat</span> with a doctors</p>
                </div>
            </div>
            <div class="col-md-4 py-3 wow zoomIn">
                <div class="card-service">
                    <div class="circle-shape bg-primary text-white">
                        <span class="mai-shield-checkmark"></span>
                    </div>
                    <p><span>Diba</span>Health Center Protection</p>
                </div>
            </div>
            <div class="col-md-4 py-3 wow zoomIn">
                <div class="card-service">
                    <div class="circle-shape bg-accent text-white">
                        <span class="mai-basket"></span>
                    </div>
                    <p><span>Diba</span>Health Center Pharmacy</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">Welcome to Dibba Health Center</h1>
                <div class="text-lg">
                    <p>
                        The Directorate of Health Services of Musandam Governorate was established by the ministerial. It supervises the provided health services in the governorate and the affiliated wilayats. It also strives to achieve quality in therapeutic services to all the users of these services according to the available resources. It also implements a range of health awareness programs to build a health conscious community. In providing the services, The directorate depends on the five-year Health plans under the supervision of Ministry of Health. The directorate is supervising more than 5 healthcare facilities that provide the primary health care to patients. There also are numerous departments focused on Healthcare, Administration or Services.
                    </p>
                    <p>
                        The directorate has a number of healthcare departments like: Health Affairs Department, Pharmacology and Medical Stores Department, and Nursing and Midwifery Affairs Department.
                    </p>
                    <p>
                        The Directorate have a number of administrative departments like: Coordination and Follow-up Department, Quality Assurance Department, Archives and Records Department, Public Relations Department, Legal Affairs Department, Personnel Affairs Department, Financial Affairs Department, Planning Department, and Administrative affairs Department.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

