<div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_3.jpeg);">


@{
    ViewData["Title"] = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_3.jpeg);">
        <div class="banner-section">
            <div class="container text-center wow fadeInUp">
                <nav aria-label="Breadcrumb">
                    <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Career</li>
                    </ol>
                </nav>
                <h1 class="font-weight-normal">Career</h1>
            </div> <!-- .container -->
        </div> <!-- .banner-section -->
    </div> <!-- .page-banner -->
    <div class="page-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 py-3 wow zoomIn">
                    <div class="card-service">
                        <div class="circle-shape bg-secondary text-white">
                            <span class="mai-chatbubbles-outline"></span>
                        </div>
                        <p><span>Chat</span> with a doctors</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 wow zoomIn">
                    <div class="card-service">
                        <div class="circle-shape bg-primary text-white">
                            <span class="mai-shield-checkmark"></span>
                        </div>
                        <p><span>Diba</span> Health Center Protection</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 wow zoomIn">
                    <div class="card-service">
                        <div class="circle-shape bg-accent text-white">
                            <span class="mai-basket"></span>
                        </div>
                        <p><span>Diba</span> Health Center Pharmacy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container">
            <h1 class="text-center wow fadeInUp"> Jobs at Dibba Al Baya Hospital </h1>
            <p>
                About the jobs:We at Dibba Al Baya Hospital open our doors to professionals who are passionate about joining the healthcare team. We are always looking for talent and passion to enhance the quality of our health services.
            </p>
            <p>
                1. Jobs chances:
            </p>
            <ul>
                <li>
                    Nursing:
                </li>
            </ul>
           <p>
                1. Nurses
           </p>
            <p>
                2. Nursing specialists
            </p>
            <p>
                3. Nursing supervisors
            </p>
            <ul>
                <li>
                    Medicine:
                </li>
            </ul>
            <p>
                1. General doctors
            </p>
            <p>
                2. Doctors specializing in multiple fields
            </p>
            <p>
                3.  Surgeons
            </p>
            <ul>
                <li>
                    Management and support services:
                </li>
            </ul>
            <p>
                1. project management
            </p>
            <p>
                2. HR
            </p>
            <p>
                3.   Information technology
            </p>
            <p>
                4.    Health Management
            </p>
            <p>
                2.  Requirements:
            </p>
            <ul>
                <li>
                    We expect applicants to hold recognized certifications and possess strong skills in their fields.
                    Previous experience in healthcare is also preferred.
                </li>
            </ul>
            <p>
                3. How to apply:
            </p>
            <ul>
                <li>
                    Please send your CV to: jobs@diba-hospital.com.
                </li>
            </ul>
            <p>
                4.  communication:
            </p>
            <ul>
                <li>
                    If you have any inquiries, please contact the Human Resources Department at: +96877443311
                </li>
            </ul>
      </div>
        
        
