<div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_3.jpeg);">
@{
    ViewData["Title"] = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Services</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal">Services</h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="page-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 py-3 wow zoomIn">
                <div class="card-service">
                    <div class="circle-shape bg-secondary text-white">
                        <span class="mai-chatbubbles-outline"></span>
                    </div>
                    <p><span>Chat</span> with a doctors</p>
                </div>
            </div>
            <div class="col-md-4 py-3 wow zoomIn">
                <div class="card-service">
                    <div class="circle-shape bg-primary text-white">
                        <span class="mai-shield-checkmark"></span>
                    </div>
                    <p><span>Diba</span> Health Center Protection</p>
                </div>
            </div>
            <div class="col-md-4 py-3 wow zoomIn">
                <div class="card-service">
                    <div class="circle-shape bg-accent text-white">
                        <span class="mai-basket"></span>
                    </div>
                    <p><span>Diba</span> Health Center Pharmacy</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">
                    Citizens and Residents
                </h1>
                <div class="text-lg">
                    <p>
                        Post Arrival Medical Fitness Exam Service: 
                        A website and application for smart devices that facilitates the procedures for individuals (citizens and residents) and companies to obtain medical examination reports for workers, to complete the procedures for obtaining or renewing residency cards, obtaining a visa, or obtaining citizenship.
                        <ul>
                            <li>30 Riyals for non-food handler</li>
                            <li>40 Riyals for food handler</li>
                        </ul>
                    </p>
                    <p>
                        Pre-Arrival Medical Report Attestation Service:
                        A service that facilitates the Pre-Arrival Medical Report Attestation to obtain a visa before arriving in the country.
                        <ul>
                            <li>
                                2 Omani Rials
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="col-lg-8 wow fadeInUp">
                <h1 class="text-center mb-3">
                    Businesses and organizations
                </h1>
                <div class="text-lg">
                    <p>
                        eService Private Health Establishments License Renewal:
                        Renewing the private health institution’s license before its expiration so that the private health institution does not incur any fines or stop other services

                        <ul>
                            <li>Depend on the list of fees in different type of establishments.</li>
                        </ul>
                    </p>
                    <p>
                        eService Sick Leave Approval:
                        A service that facilitates the Pre-Arrival Medical Report Attestation to obtain a visa before arriving in the country.
                        <ul>
                            <li>
                                2 Omani rials If sick leave more than Two days
                            </li>
                        </ul>
                    </p>
                    <p>
                        eService Medical Practitioners License:
                        This service is to renew Health Professional MOH License
                    </p>
                    <p>
                        eService Advertisement Permit:
                        This service is to request Health Advertisement
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
