<div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_3.jpeg);">


    @{
        ViewData["Title"] = "Training";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <div class="page-banner overlay-dark bg-image" style="background-image: url(../assets/img/bg_image_3.jpeg);">
        <div class="banner-section">
            <div class="container text-center wow fadeInUp">
                <nav aria-label="Breadcrumb">
                    <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Training</li>
                    </ol>
                </nav>
                <h1 class="font-weight-normal">Training</h1>
            </div> <!-- .container -->
        </div> <!-- .banner-section -->
    </div> <!-- .page-banner -->
    <div class="page-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-4 py-3 wow zoomIn">
                    <div class="card-service">
                        <div class="circle-shape bg-secondary text-white">
                            <span class="mai-chatbubbles-outline"></span>
                        </div>
                        <p><span>Chat</span> with a doctors</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 wow zoomIn">
                    <div class="card-service">
                        <div class="circle-shape bg-primary text-white">
                            <span class="mai-shield-checkmark"></span>
                        </div>
                        <p><span>Dibba</span> Health Center Protection</p>
                    </div>
                </div>
                <div class="col-md-4 py-3 wow zoomIn">
                    <div class="card-service">
                        <div class="circle-shape bg-accent text-white">
                            <span class="mai-basket"></span>
                        </div>
                        <p><span>Dibba</span> Health Center Pharmacy</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-section">
        <div class="container">
            <h1 class="text-center wow fadeInUp">Training at Dibba Al Baya Hospital</h1>
            <div class="text-lg">
                <p>
                    1. About the training programs:
                    Dibba Al Baya Hospital in Musandam opens its doors to students enrolled in medical and administrative training programs. 
                    The hospital offers various training programs to meet the needs of students and their development in the fields of health care.
                </p>
                <p>
                    2. Training opportunities:
                    <ul>
                        <li>
                            Diverse practical training: Unique opportunities for students to gain practical experience in various hospital departments, including medicine, nursing, and health administration.
                        </li>
                    </ul>
                    <ul>
                        <li>
                            Summer Training Programs: Providing intensive summer training programs that allow students to immerse themselves in a caring environment
                        </li>
                    </ul>
                </p>
                <p> 
                    3. Admission criteria:
                    To enroll in training programs, students must meet specified academic and professional standards.
                    Emphasizes the importance of passion for health service and commitment to continuous learning.
                </p>
                <p>
                    4. How to apply:
                </p>
                <ul>
                    <li>
                        Send the CV
                    </li>
                </ul>
                <ul>
                    <li>
                        Sending a letter requesting training from the institution where the student is enrolled
                    </li>
                </ul>
                <ul>
                    <li>
                        Send the ID card
                    </li>
                </ul>

                <ul>
                    <li>
                        You can send to this email: contact.center@moh.gov.om
                    </li>
                </ul>
           </div>
        </div>
 


         
              
